# Default values for druid.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

#TODO remove quickstart stuff
iapVersion: "imply-1.3.1"
debug: "True"

postgresqlName: "postgresql"

druidSegmentDeepStorage: "druid-deep-storage"
druidSegmentCache: "druid-deep-segment-cache"


zookeeper:
  Replicas: 3
  Name: zk
postgresql:
  postgresUser: druid
  postgresDatabase: druid
  postgresPassword: secret

nodes:
  coordinator:
    name: "coordinator"
    replicaCount: 1
    image:
      repository: 547051082101.dkr.ecr.ap-southeast-2.amazonaws.com/savvybi/druid-coordinator
      tag: 0.1
      pullPolicy: Always
    service:
      name: druid-coordinator-service
      type: LoadBalancer
      ports:
        - name: coord-port
          port: 8081
  overlord:
    name: "overlord"
    replicaCount: 1
    image:
      repository: 547051082101.dkr.ecr.ap-southeast-2.amazonaws.com/savvybi/druid-overlord
      tag: 0.1
      pullPolicy: Always
    service:
      name: druid-overlord-service
      type: LoadBalancer
      ports:
        - name: overlord-port
          port: 8090
  historical:
    name: "historical"
    replicaCount: 1
    image:
      repository: 547051082101.dkr.ecr.ap-southeast-2.amazonaws.com/savvybi/druid-historical
      tag: 0.1
      pullPolicy: Always
    service:
      name: druid-historical-service
      type: ClusterIP
      ports:
        - name: historical-port
          port: 8083
  broker:
    name: "broker"
    replicaCount: 1
    image:
      repository: 547051082101.dkr.ecr.ap-southeast-2.amazonaws.com/savvybi/druid-broker
      tag: 0.1
      pullPolicy: Always
    service:
      name: druid-broker-service
      type: LoadBalancer
      ports:
        - name: broker-port
          port: 8082
  middlemanager:
    name: "middlemanager"
    replicaCount: 1
    image:
      repository: 547051082101.dkr.ecr.ap-southeast-2.amazonaws.com/savvybi/druid-middlemanager
      tag: 0.1
      pullPolicy: Always
    service:
      name: druid-middlemanager-service
      type: NodePort
      ports:
        - name: middlemanager-port
          port: 8091
        - name: peon-0
          port: 8100
        - name: peon-1
          port: 8101
        - name: peon-2
          port: 8102
        - name: peon-3
          port: 8103
service:
  historical:
    name: historical
    type: ClusterIP
    externalPort: 8083
    internalPort: 8083
  quickstart:
    name: quickstart
    type: NodePort
    port: 9095
  #TODO remove ulgy hotfix
  type: NodePort
resources:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi
