{
  "type" : "index",
  "spec" : {
    "dataSchema" : {
      "dataSource" : "asx_latest_prices",
      "parser" : {
        "type" : "string",
        "parseSpec" : {
          "format" : "csv",
          "timestampSpec": {
            "column": "settlement_date",
            "format": "yyyy-mm-dd"
          },
          "columns": [
            "settlement_date",
            "period_type",
            "period",
            "region",
            "profile",
            "product",
            "period_start",
            "period_end",
            "description",
            "bid_price",
            "ask_price",
            "volume",
            "settlement_price",
            "prev_settlement_date",
            "prev_settlement_price",
            "settlement_price_movement",
            "rankid"
         ],
         "dimensionsSpec": {
           "dimensions": [
             "period_type",
             "period",
             "region",
             "profile",
             "product",
             "period_start",
             "period_end",
             "bid_price",
             "ask_price",
             "volume",
             "settlement_price",
             "prev_settlement_date",
             "prev_settlement_price",
             "settlement_price_movement",
             "rankid"
           ]
         }
        }
      },
      "granularitySpec" : {
        "type" : "uniform",
        "segmentGranularity" : "day",
        "queryGranularity" : "none",
        "intervals" : ["2017-05-09/2018-09-14"],
        "rollup" : false
      }
    },
    "ioConfig" : {
      "type" : "index",
      "firehose" : {
        "type" : "http",
        "uris": ["https://s3-ap-southeast-2.amazonaws.com/druid.dts.input-bucket/{{csv_file_name}}"]
      },
      "appendToExisting" : false
    },
    "tuningConfig" : {
      "type" : "index",
      "targetPartitionSize" : 5000000,
      "maxRowsInMemory" : 25000,
      "forceExtendableShardSpecs" : true
    }
  }
}
