{
  "type" : "index",
  "spec" : {
    "dataSchema" : {
      "dataSource" : "forward_prices",
      "parser" : {
        "type" : "string",
        "parseSpec" : {
          "format" : "csv",
          "timestampSpec": {
            "column": "settlement_date",
            "format": "yyyy-mm-dd"
          },
          "columns": [
            "settlement_date",
            "period_type",
            "period",
            "region",
            "profile",
            "product",
            "period_year",
            "description",
            "volume",
            "settlement_price",
            "moving_average",
            "standard_deviation"
         ],
         "dimensionsSpec": {
           "dimensions": [
             "period_type",
             "period",
             "region",
             "profile",
             "product",
             "period_year",
             "settlement_price",
             "moving_average",
             "standard_deviation"
           ]
         }
        }
      },
      "granularitySpec" : {
        "type" : "uniform",
        "segmentGranularity" : "day",
        "queryGranularity" : "none",
        "intervals" : ["2015-04-28/2018-09-14"],
        "rollup" : false
      }
    },
    "ioConfig" : {
      "type" : "index",
      "firehose" : {
        "type" : "http",
        "uris": ["https://s3-ap-southeast-2.amazonaws.com/druid.dts.input-bucket/{{csv_file_name}}"]
      },
      "appendToExisting" : false
    },
    "tuningConfig" : {
      "type" : "index",
      "targetPartitionSize" : 5000000,
      "maxRowsInMemory" : 25000,
      "forceExtendableShardSpecs" : true
    }
  }
}
