-server
-Xms64m
-Xmx64m
-XX:MaxDirectMemorySize=4g
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Ddruid.host={{ .Values.nodes.middlemanager.service.name }}
-Ddruid.worker.ip={{ .Values.nodes.middlemanager.service.name }}
